<h1>Galería APOD</h1>

<div class="filtros">
  <input #dateInput type="date" placeholder="Fecha"/>
  <input #startInput type="date" placeholder="Desde"/>
  <input #endInput type="date" placeholder="Hasta"/>
  <input #countInput type="number" placeholder="Cantidad"/>
  
  <button (click)="cargarApods(dateInput.value, startInput.value, endInput.value, countInput.value)">Filtrar</button>
</div>

<ol>
  <li *ngFor="let apod of apods; let i = index">
    <h4 (click)="verDetalle(apod)" style="cursor:pointer">{{ apod.title }} ({{ apod.date }})</h4>
    <img *ngIf="apod.media_type === 'image'" [src]="apod.url" alt="{{ apod.title }}" width="200"/>
  </li>
</ol>

<p *ngIf="apods.length === 0">No hay imágenes para mostrar</p>
